<ul class="appointment-list" cdkDropList (cdkDropListDropped)="drop($event)">
  <li
    class="appointment-item"
    *ngFor="let appointment of appointments; let i = index"
    cdkDrag
    [cdkDragData]="appointment"
    (cdkDragStarted)="onDragStarted($event, i)"
    (cdkDragMoved)="onDragMove($event)"
    (cdkDragEnded)="onDragEnded($event, i)"
    (mousedown)="setStyle($event)"
  >
    <h2 class="appointment-title">{{ appointment.title }}</h2>
    <p class="appointment-date">{{ appointment.date }}</p>
    <div *cdkDragPreview class="appointment-preview" [ngStyle]="style">
      {{ appointment.title }}
      {{ appointment.date }}
    </div>
    <button class="btn-update" (click)="openUpdateDialog(appointment)">
      Update
    </button>
    <button class="btn-delete" (click)="deleteAppointment(i)">Delete</button>
    <div *ngIf="appointment.isEditing">
      <input type="text" [(ngModel)]="appointment.title" />
      <input type="text" [(ngModel)]="appointment.date" />
      <button (click)="updateAppointment(i)">Save</button>
    </div>
  </li>
</ul>
